<script data-target="chat.stemplate" type="text/x-handlebars-template">
  <li class="clearfix">
    <div class="message-data align-right">
      <span class="message-data-name"><i class="fa fa-circle online"></i>{{name}}</span>
      <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;
    </div>
    <div class="message other-message float-right" style="background-color:{{color}}">
        {{message}}
    </div>
  </li>
</script>